- Pandas速查手册中文版:https://blog.csdn.net/qq_33399185/article/details/60872853
- PANDAS 数据处理遇到的问题:https://www.cnblogs.com/zhengyyao/p/7507936.html
- https://www.kaggle.com/johnfarrell/tda-overlapping-sample-indexes-in-supplement
- https://www.kaggle.com/alexfir/mapping-between-test-supplement-csv-and-test-csv/notebook

In [1]:
import pandas as pd
supplement = pd.read_csv('../input/test_supplement.csv',dtype='uint32',usecols=['click_id'])
supplement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57537505 entries, 0 to 57537504
Data columns (total 1 columns):
click_id    uint32
dtypes: uint32(1)
memory usage: 219.5 MB

In [2]:
supplement_sub = supplement[21290876:27493809]
supplement_sub = pd.concat([supplement_sub,supplement[35678696:41791910]], copy=False)
supplement_sub = pd.concat([supplement_sub,supplement[48109937:54584259]], copy=False)
supplement_sub

          click_id
21290876  21290876
21290877  21290877
21290878  21290878
21290879  21290879
21290880  21290880
21290881  21290881
21290882  21290882
21290883  21290883
21290884  21290884
21290885  21290885
21290886  21290886
21290887  21290887
21290888  21290888
21290889  21290889
21290890  21290890
21290891  21290891
21290892  21290892
21290893  21290893
21290894  21290894
21290895  21290895
21290896  21290896
21290897  21290897
21290898  21290898
21290899  21290899
21290900  21290900
21290901  21290901
21290902  21290902
21290903  21290903
21290904  21290904
21290905  21290905
...            ...
54584229  54584229
54584230  54584230
54584231  54584231
54584232  54584232
54584233  54584233
54584234  54584234
54584235  54584235
54584236  54584236
54584237  54584237
54584238  54584238
54584239  54584239
54584240  54584240
54584241  54584241
54584242  54584242
54584243  54584243
54584244  54584244
54584245  54584245
54584246  54584246
54584247  54584247
54584248  54584248
54584249  54584249
54584250  54584250
54584251  54584251
54584252  54584252
54584253  54584253
54584254  54584254
54584255  54584255
54584256  54584256
54584257  54584257
54584258  54584258

[18790469 rows x 1 columns]

In [3]:
supplement_sub.nunique()

click_id    18790469
dtype: int64

In [4]:
submit = pd.read_csv('./submit_V24.csv')

In [5]:
submit

          click_id  is_attributed
0                0       0.015155
1                1       0.001664
2                2       0.106414
3                3       0.031733
4                4       0.014321
5                5       0.024446
6                6       0.003852
7                7       0.116942
8                9       0.121030
9                8       0.002741
10              10       0.100425
11              11       0.062910
12              12       0.006817
13              13       0.460442
14              14       0.028772
15              15       0.243964
16              16       0.004576
17              20       0.146612
18              19       0.001009
19              17       0.153711
20              18       0.009402
21              21       0.230827
22              22       0.000024
23              23       0.014525
24              24       0.033621
25              25       0.004054
26              26       0.093933
27              27       0.063090
28              28       0.000091
29              29       0.056447
...            ...            ...
18790439  18790438       0.098778
18790440  18790440       0.067704
18790441  18790441       0.007485
18790442  18790442       0.001061
18790443  18790443       0.000146
18790444  18790444       0.001022
18790445  18790445       0.001592
18790446  18790446       0.000467
18790447  18790447       0.006013
18790448  18790448       0.003254
18790449  18790449       0.036243
18790450  18790450       0.000083
18790451  18790451       0.004912
18790452  18790452       0.006156
18790453  18790453       0.146874
18790454  18790455       0.183589
18790455  18790454       0.017922
18790456  18790456       0.000882
18790457  18790457       0.061076
18790458  18790458       0.157605
18790459  18790459       0.015519
18790460  18790460       0.004351
18790461  18790462       0.001854
18790462  18790461       0.000787
18790463  18790463       0.001360
18790464  18790464       0.000143
18790465  18790465       0.012534
18790466  18790467       0.019964
18790467  18790466       0.042082
18790468  18790468       0.000818

[18790469 rows x 2 columns]

In [6]:
supplement_sub.reset_index(drop=True,inplace=True)

In [7]:
submit['click_id'] = supplement_sub.values

In [8]:
submit

          click_id  is_attributed
0         21290876       0.015155
1         21290877       0.001664
2         21290878       0.106414
3         21290879       0.031733
4         21290880       0.014321
5         21290881       0.024446
6         21290882       0.003852
7         21290883       0.116942
8         21290884       0.121030
9         21290885       0.002741
10        21290886       0.100425
11        21290887       0.062910
12        21290888       0.006817
13        21290889       0.460442
14        21290890       0.028772
15        21290891       0.243964
16        21290892       0.004576
17        21290893       0.146612
18        21290894       0.001009
19        21290895       0.153711
20        21290896       0.009402
21        21290897       0.230827
22        21290898       0.000024
23        21290899       0.014525
24        21290900       0.033621
25        21290901       0.004054
26        21290902       0.093933
27        21290903       0.063090
28        21290904       0.000091
29        21290905       0.056447
...            ...            ...
18790439  54584229       0.098778
18790440  54584230       0.067704
18790441  54584231       0.007485
18790442  54584232       0.001061
18790443  54584233       0.000146
18790444  54584234       0.001022
18790445  54584235       0.001592
18790446  54584236       0.000467
18790447  54584237       0.006013
18790448  54584238       0.003254
18790449  54584239       0.036243
18790450  54584240       0.000083
18790451  54584241       0.004912
18790452  54584242       0.006156
18790453  54584243       0.146874
18790454  54584244       0.183589
18790455  54584245       0.017922
18790456  54584246       0.000882
18790457  54584247       0.061076
18790458  54584248       0.157605
18790459  54584249       0.015519
18790460  54584250       0.004351
18790461  54584251       0.001854
18790462  54584252       0.000787
18790463  54584253       0.001360
18790464  54584254       0.000143
18790465  54584255       0.012534
18790466  54584256       0.019964
18790467  54584257       0.042082
18790468  54584258       0.000818

[18790469 rows x 2 columns]

In [9]:
mapping = pd.read_csv('../input/mapping.csv',dtype='uint32')
mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18790469 entries, 0 to 18790468
Data columns (total 2 columns):
click_id        uint32
old_click_id    uint32
dtypes: uint32(2)
memory usage: 143.4 MB

In [10]:
mapping

          click_id  old_click_id
0                0      21290878
1                1      21290876
2                2      21290877
3                3      21290879
4                4      21290880
5                5      21290882
6                6      21290881
7                7      21290883
8                9      21290884
9                8      21290885
10              10      21290886
11              11      21290887
12              12      21290888
13              13      21290889
14              14      21290890
15              15      21290892
16              20      21290894
17              16      21290891
18              19      21290893
19              17      21290895
20              18      21290896
21             232      21291108
22              21      21290897
23              22      21290900
24              23      21290899
25              24      21290898
26              25      21290901
27              26      21290902
28              27      21290903
29              28      21290904
...            ...           ...
18790439  18790467      54584257
18790440  18790438      54584229
18790441  18790440      54584231
18790442  18790441      54584230
18790443  18790442      54584232
18790444  18790443      54584233
18790445  18790444      54584234
18790446  18790445      54584235
18790447  18790446      54584236
18790448  18790447      54584237
18790449  18790448      54584239
18790450  18790449      54584238
18790451  18790450      54584240
18790452  18790451      54584241
18790453  18790452      54584242
18790454  18790453      54584243
18790455  18790455      54584245
18790456  18790454      54584244
18790457  18790456      54584246
18790458  18790457      54584248
18790459  18790458      54584247
18790460  18790459      54584249
18790461  18790460      54584250
18790462  18790462      54584251
18790463  18790461      54584252
18790464  18790463      54584253
18790465  18790464      54584255
18790466  18790465      54584254
18790467  18790466      54584256
18790468  18790468      54584258

[18790469 rows x 2 columns]

In [11]:
submit.rename(columns={'click_id': 'old_click_id'}, inplace=True)

In [12]:
final = pd.merge(submit,mapping,on='old_click_id',how='left')

In [13]:
final.click_id.nunique()

18790451

In [14]:
import numpy as np
# final[final.click_id == 'NaN']
np.where(np.isnan(final.click_id))

(array([      60,       82,      140,      214,      281,  6202989,
         6203027,  6203058,  6203121,  6203132,  6203171,  6203226,
         6203227, 12316195, 12316220, 12316293, 12316453, 12316551],
       dtype=int64),)

In [15]:
final.iloc[np.where(np.isnan(final.click_id))]

          old_click_id  is_attributed  click_id
60            21290936       0.004497       NaN
82            21290958       0.006692       NaN
140           21291016       0.283257       NaN
214           21291090       0.470920       NaN
281           21291157       0.000516       NaN
6202989       35678752       0.060592       NaN
6203027       35678790       0.005383       NaN
6203058       35678821       0.009456       NaN
6203121       35678884       0.005136       NaN
6203132       35678895       0.000232       NaN
6203171       35678934       0.162511       NaN
6203226       35678989       0.046995       NaN
6203227       35678990       0.055356       NaN
12316195      48109985       0.041784       NaN
12316220      48110010       0.000263       NaN
12316293      48110083       0.003065       NaN
12316453      48110243       0.111578       NaN
12316551      48110341       0.074044       NaN

In [16]:
rightmerge = pd.merge(submit,mapping,on='old_click_id',how='right')

In [17]:
rightmerge

          old_click_id  is_attributed  click_id
0             21290876       0.015155         1
1             21290877       0.001664         2
2             21290878       0.106414         0
3             21290879       0.031733         3
4             21290880       0.014321         4
5             21290881       0.024446         6
6             21290882       0.003852         5
7             21290883       0.116942         7
8             21290884       0.121030         9
9             21290885       0.002741         8
10            21290886       0.100425        10
11            21290887       0.062910        11
12            21290888       0.006817        12
13            21290889       0.460442        13
14            21290890       0.028772        14
15            21290891       0.243964        16
16            21290892       0.004576        15
17            21290893       0.146612        19
18            21290894       0.001009        20
19            21290895       0.153711        17
20            21290896       0.009402        18
21            21290897       0.230827        21
22            21290898       0.000024        24
23            21290899       0.014525        23
24            21290900       0.033621        22
25            21290901       0.004054        25
26            21290902       0.093933        26
27            21290903       0.063090        27
28            21290904       0.000091        28
29            21290905       0.056447        29
...                ...            ...       ...
18790439      54584247       0.061076  18790458
18790440      54584248       0.157605  18790457
18790441      54584249       0.015519  18790459
18790442      54584250       0.004351  18790460
18790443      54584251       0.001854  18790462
18790444      54584252       0.000787  18790461
18790445      54584253       0.001360  18790463
18790446      54584254       0.000143  18790465
18790447      54584255       0.012534  18790464
18790448      54584256       0.019964  18790466
18790449      54584257       0.042082  18790467
18790450      54584258       0.000818  18790468
18790451      21290705            NaN        59
18790452      21290785            NaN        82
18790453      21290658            NaN       138
18790454      21290592            NaN       213
18790455      21290822            NaN       282
18790456      35678508            NaN   6202989
18790457      35678680            NaN   6203027
18790458      35678623            NaN   6203058
18790459      35678550            NaN   6203121
18790460      35678304            NaN   6203132
18790461      35678584            NaN   6203171
18790462      35678636            NaN   6203226
18790463      35678684            NaN   6203227
18790464      48109919            NaN  12316195
18790465      48109518            NaN  12316220
18790466      48109898            NaN  12316294
18790467      48109575            NaN  12316453
18790468      48109663            NaN  12316552

[18790469 rows x 3 columns]

In [18]:
fillclick_id = rightmerge.iloc[np.where(np.isnan(rightmerge.is_attributed))].click_id
rightmerge.iloc[np.where(np.isnan(rightmerge.is_attributed))]

          old_click_id  is_attributed  click_id
18790451      21290705            NaN        59
18790452      21290785            NaN        82
18790453      21290658            NaN       138
18790454      21290592            NaN       213
18790455      21290822            NaN       282
18790456      35678508            NaN   6202989
18790457      35678680            NaN   6203027
18790458      35678623            NaN   6203058
18790459      35678550            NaN   6203121
18790460      35678304            NaN   6203132
18790461      35678584            NaN   6203171
18790462      35678636            NaN   6203226
18790463      35678684            NaN   6203227
18790464      48109919            NaN  12316195
18790465      48109518            NaN  12316220
18790466      48109898            NaN  12316294
18790467      48109575            NaN  12316453
18790468      48109663            NaN  12316552

In [19]:
list(fillclick_id)

[59,
 82,
 138,
 213,
 282,
 6202989,
 6203027,
 6203058,
 6203121,
 6203132,
 6203171,
 6203226,
 6203227,
 12316195,
 12316220,
 12316294,
 12316453,
 12316552]

In [20]:
# list(final.iloc[np.where(np.isnan(final.click_id))].click_id)
# list(fillclick_id.values)
# for i,j in enumerate(final.iloc[np.where(np.isnan(final.click_id))].click_id, list(fillclick_id.values)):
#     i = j
# final.iloc[np.where(np.isnan(final.click_id))]['click_id'] = fillclick_id
# 修改数据：关键！
final.loc[final['click_id'].isnull(),'click_id'] = list(fillclick_id)
# final2 = final.replace(list(final.iloc[np.where(np.isnan(final.click_id))].click_id.values),list(fillclick_id.values))
# final.loc[np.where(np.isnan(final.click_id)),'click_id']
# final.iloc[np.where(np.isnan(final.click_id))]

In [21]:
final.iloc[[      60,       82,      140,      214,      281,  6202989,
         6203027,  6203058,  6203121,  6203132,  6203171,  6203226,
         6203227, 12316195, 12316220, 12316293, 12316453, 12316551]]
# final.loc[final['click_id'].isnull(),'click_id']

          old_click_id  is_attributed    click_id
60            21290936       0.004497        59.0
82            21290958       0.006692        82.0
140           21291016       0.283257       138.0
214           21291090       0.470920       213.0
281           21291157       0.000516       282.0
6202989       35678752       0.060592   6202989.0
6203027       35678790       0.005383   6203027.0
6203058       35678821       0.009456   6203058.0
6203121       35678884       0.005136   6203121.0
6203132       35678895       0.000232   6203132.0
6203171       35678934       0.162511   6203171.0
6203226       35678989       0.046995   6203226.0
6203227       35678990       0.055356   6203227.0
12316195      48109985       0.041784  12316195.0
12316220      48110010       0.000263  12316220.0
12316293      48110083       0.003065  12316294.0
12316453      48110243       0.111578  12316453.0
12316551      48110341       0.074044  12316552.0

In [22]:
final.drop(['old_click_id'], axis=1, inplace=True)

In [23]:
# final['click_id'].fillna(-1, inplace=True)
final['click_id'] = final['click_id'].astype('uint32')
final

          is_attributed  click_id
0              0.015155         1
1              0.001664         2
2              0.106414         0
3              0.031733         3
4              0.014321         4
5              0.024446         6
6              0.003852         5
7              0.116942         7
8              0.121030         9
9              0.002741         8
10             0.100425        10
11             0.062910        11
12             0.006817        12
13             0.460442        13
14             0.028772        14
15             0.243964        16
16             0.004576        15
17             0.146612        19
18             0.001009        20
19             0.153711        17
20             0.009402        18
21             0.230827        21
22             0.000024        24
23             0.014525        23
24             0.033621        22
25             0.004054        25
26             0.093933        26
27             0.063090        27
28             0.000091        28
29             0.056447        29
...                 ...       ...
18790439       0.098778  18790438
18790440       0.067704  18790441
18790441       0.007485  18790440
18790442       0.001061  18790442
18790443       0.000146  18790443
18790444       0.001022  18790444
18790445       0.001592  18790445
18790446       0.000467  18790446
18790447       0.006013  18790447
18790448       0.003254  18790449
18790449       0.036243  18790448
18790450       0.000083  18790450
18790451       0.004912  18790451
18790452       0.006156  18790452
18790453       0.146874  18790453
18790454       0.183589  18790454
18790455       0.017922  18790455
18790456       0.000882  18790456
18790457       0.061076  18790458
18790458       0.157605  18790457
18790459       0.015519  18790459
18790460       0.004351  18790460
18790461       0.001854  18790462
18790462       0.000787  18790461
18790463       0.001360  18790463
18790464       0.000143  18790465
18790465       0.012534  18790464
18790466       0.019964  18790466
18790467       0.042082  18790467
18790468       0.000818  18790468

[18790469 rows x 2 columns]

In [24]:
final.click_id.nunique()

18790469

In [25]:
final[['click_id','is_attributed']].to_csv('./submit_V24.csv',index=False,float_format='%.9f')